In [7]:
import pandas as pd

music_data = pd.read_csv('music.csv')

music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [8]:
x = music_data.drop(columns=['genre']) #this is our input data. We need to train the model with the values of inputs

x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
y = music_data['genre']

y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [16]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(x.values, y) #it's learning patterns in the data

model.predict([[22,1], [23,0]])

array(['HipHop', 'Dance'], dtype=object)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

model = DecisionTreeClassifier()

model.fit(x_train, y_train) #it's learning patterns in the data

predictions = model.predict(x_test)

score = accuracy_score(y_test, predictions)
score

1.0

In [23]:
import joblib

joblib.dump(model, 'music-recommender.joblib')

['music-recommender.joblib']

In [ ]:
from sklearn import tree